# Exercise 12: Looping Over Data Sets

## Aim: Use `glob` to find sets of files, and write loops to perform operations on files.

### Issues covered:
- Using a `for` loop to loop over a given list of files
- Using `glob` to match patterns of files
- Looping over sets of files using `glob`
- Using `glob` and `for` to process data from mutliple files

## 1. Looping over files from a simple list

Use a `for` loop to loop over the files in the data folder (americas_gdp.csv, europe_gdp.csv and oceania_gdp.csv) and print out the maxima of the datasets.

In [6]:
import pandas as pd
import glob
for filename in glob.glob("../data/*_gdp.csv"):
    dt=pd.read_csv(filename, index_col="country")
    print (filename)
    print (dt.max())
    print()

../data/oceania_gdp.csv
gdpPercap_1952    10556.57566
gdpPercap_1957    12247.39532
gdpPercap_1962    13175.67800
gdpPercap_1967    14526.12465
gdpPercap_1972    16788.62948
gdpPercap_1977    18334.19751
gdpPercap_1982    19477.00928
gdpPercap_1987    21888.88903
gdpPercap_1992    23424.76683
gdpPercap_1997    26997.93657
gdpPercap_2002    30687.75473
gdpPercap_2007    34435.36744
dtype: float64

../data/europe_gdp.csv
gdpPercap_1952    14734.23275
gdpPercap_1957    17909.48973
gdpPercap_1962    20431.09270
gdpPercap_1967    22966.14432
gdpPercap_1972    27195.11304
gdpPercap_1977    26982.29052
gdpPercap_1982    28397.71512
gdpPercap_1987    31540.97480
gdpPercap_1992    33965.66115
gdpPercap_1997    41283.16433
gdpPercap_2002    44683.97525
gdpPercap_2007    49357.19017
dtype: float64

../data/americas_gdp.csv
continent            Americas
gdpPercap_1952    13990.48208
gdpPercap_1957    14847.12712
gdpPercap_1962    16173.14586
gdpPercap_1967    19530.36557
gdpPercap_1972    21806.03594
gdpPercap_1977    24072.63213
gdpPercap_1982    25009.55914
gdpPercap_1987    29884.35041
gdpPercap_1992    32003.93224
gdpPercap_1997    35767.43303
gdpPercap_2002    39097.09955
gdpPercap_2007    42951.65309
dtype: object

## 2. Using `glob` to loop through files

What do you think `glob.glob('*.ipynb')` will return? Try it and see.

In [7]:
for filename2 in glob.glob("*.ipynb"):
    print (filename2)

ex16_wrap_up.ipynb
ex12_looping_data_sets.ipynb
ex08_plotting.ipynb
ex13_writing_functions.ipynb
ex10_for_loops.ipynb
ex14_variable_scope.ipynb
ex05_libraries.ipynb
ex06_dataframes.ipynb
ex07_pandas_dataframes.ipynb
ex09_lists.ipynb
ex04_built_in_functions.ipynb
ex11_conditionals.ipynb
ex01_running_notebooks.ipynb
ex15_programming_style.ipynb
ex02_variables_assignment.ipynb
ex03_data_types.ipynb
Sets.ipynb

How can we return only the files for exercises 1-9?

In [8]:
for filename3 in glob.glob("*ex0*.ipynb"):
    print (filename3)

ex08_plotting.ipynb
ex05_libraries.ipynb
ex06_dataframes.ipynb
ex07_pandas_dataframes.ipynb
ex09_lists.ipynb
ex04_built_in_functions.ipynb
ex01_running_notebooks.ipynb
ex02_variables_assignment.ipynb
ex03_data_types.ipynb

Which exercises have coffee in their title?

In [9]:
for filename4 in glob.glob("*coffee*.ipynb"):
    print (filename4)

## 3. Using `glob` and `for` to process files

Write a `for` loop which loops through all of the files containing `gdp` in the title, write the data to a dataframe, then print the dataframe minimum for all columns (using `.min()`).

In [40]:
dtf=pd.DataFrame()
for filename5 in glob.glob("../data/*gdp*.csv"):
    data=pd.read_csv(filename5,index_col="country")
    dtf=pd.concat([dtf,data])
dtf

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007,continent,Unnamed: 0
country,,,,,,,,,,,,,,
Australia,10039.595640,10949.649590,12217.226860,14526.124650,16788.629480,18334.197510,19477.009280,21888.889030,23424.766830,26997.936570,30687.754730,34435.367440,NaN,NaN
New Zealand,10556.575660,12247.395320,13175.678000,14463.918930,16046.037280,16233.717700,17632.410400,19007.191290,18363.324940,21050.413770,23189.801350,25185.009110,NaN,NaN
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526,NaN,NaN
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700,NaN,NaN
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Puerto Rico,3081.959785,3907.156189,5108.344630,6929.277714,9123.041742,9770.524921,10330.989150,12281.341910,14641.587110,16999.433300,18855.606180,19328.709010,Americas,20.0
Trinidad and Tobago,3023.271928,4100.393400,4997.523971,5621.368472,6619.551419,7899.554209,9119.528607,7388.597823,7370.990932,8792.573126,11460.600230,18008.509240,Americas,21.0
United States,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.653090,Americas,22.0
Uruguay,5716.766744,6150.772969,5603.357717,5444.619620,5703.408898,6504.339663,6920.223051,7452.398969,8137.004775,9230.240708,7727.002004,10611.462990,Americas,23.0
Venezuela,7689.799761,9802.466526,8422.974165,9541.474188,10505.259660,13143.950950,11152.410110,9883.584648,10733.926310,10165.495180,8605.047831,11415.805690,Americas,24.0

In [42]:
dtf=dtf.drop(["continent","Unnamed: 0"],axis="columns")
dtf.min()

gdpPercap_1952     973.533195
gdpPercap_1957    1353.989176
gdpPercap_1962    1662.137359
gdpPercap_1967    1452.057666
gdpPercap_1972    1654.456946
gdpPercap_1977    1874.298931
gdpPercap_1982    2011.159549
gdpPercap_1987    1823.015995
gdpPercap_1992    1456.309517
gdpPercap_1997    1341.726931
gdpPercap_2002    1270.364932
gdpPercap_2007    1201.637154
dtype: float64